.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    background-color: #000000;
    color: #ffffff;
}

.navbar-icon {
    width: 1.25em;
    height: 1.25em;
    user-select: none;
    color: #ffffff;
}

.navbar-logo {
    padding-left: 8px;
}

.navbar-header {
    display: flex;
    align-items: center;
    padding: 16px;
}

.navbar-items {
    display:flex;
    flex-direction: column;
    padding: 0 8px;
}

.navbar-text {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.link {
    color: #ffffff;
}

.link:hover {
    color: #ffffff;
}

.navbar-items .item {
display: flex;
align-items: center;
padding: 16px 8px;
border-radius: 5px;
transition: background-color 0.2s;
cursor: pointer;
}

.navbar-items .item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.navbar.collapsed {
    width: 52px;
    padding: 16px;
}

.navbar.collapsed .sidebar-icon {
    margin-left: 0;
    width: 1.25em;
    height: 1.25em;

}

.navbar.collapsed .navbar-text,
.navbar.collapsed .navbar-logo {
    display: none;
}

.rs-modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35px;
    top: 85px;
    width: 22%; /* Full width */
    height: 35%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(59, 67, 91, 0.4); /* Black w/ opacity */

}

.rs-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    position: relative; /* Stay in place */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 50%;
}
.rs-modal-header {
    text-align: center;
}
